<colin.newell@gmail.com> <colin@opusvl.com>
<fireartist@gmail.com> <github@fireartist.com>
<fireartist@gmail.com> <fireartist@users.noreply.github.com>
<kyzn@cpan.org> <kivancyazan@gmail.com>
<1nd@gmx.de> <onken@netcubed.de>
<nigelm@cpan.org> <nigel.metheringham@dev.intechnology.co.uk>
<nigelm@cpan.org> <nm9762github@muesli.org.uk>
