<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Vertically Aligned</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css" media="all">
	@import "vertically-aligned.css";
</style>
<!--[if IE]>
	<style type="text/css" media="all">
		@import "vertically-aligned-ie.css";
	</style>
<![endif]-->
</head>
<body>

[% form %]

<p>
	<a href="http://validator.w3.org/check?uri=referer">Validate Source</a>
</p>

</body>
</html>
